/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 */

@import 'bootstrap';

.card-body {
  background-color:rgb(255, 129, 116);
  border-radius: 4px;
}

.card {
  border-radius: 4px;
}

.card-body a {
  color: #303030;
  text-decoration:none;
}

.card-body a:hover {
  color: white;
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

.nav-admin {
  background-color:rgba(255, 129, 116, 75);
}

.navbar {
  border-bottom: solid rgb(255, 129, 116) .25rem;
}

#user-info {
  margin-left:auto;
}