<div class="col-sm-4">
  <div class="card m-1">
    <div class="card-body">
      <h5 class="card-title"><%=burger.fetch("name")%></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Location: <%=burger.fetch("location")%></li>
      <li class="list-group-item">Price: $6</li>
    </ul>
  </div>
</div>
